body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display:flex; */
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    /* display:flex; */
  }
  #container{
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    /* height: 800px; */
    /* justify-content: space-between; */
  }
  
  #box-1{
      background-color: orange;
      width: 20%;
      border: groove;
      margin: 5px;
     
  }
  #box-2{
      background-color: orange;
      width: 80%;
      border: groove;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
     
  }

  #box-3{
    background-color: papayawhip;
    height: 14%;
    width: 100%;
    border:groove;
    margin-top: 5px;

  }


  #box-4{
    background-color: papayawhip;
    height: 14%;
    width: 100%;
    border:groove;
    margin-top: 5px;
  }


  #box-5{
    background-color: papayawhip;
    height: 14%;
    width: 100%;
    border:groove;
    margin-top: 7px;
  }


  #box-6{
    background-color: papayawhip;
    height: 14%;
    width: 100%;
    border:groove;
    margin-top:7px;
  }



  #box-7{
    background-color: papayawhip;
    height: 14%;
    width: 100%;
    border:groove;
    margin-top: 7px;
  }

  #box-8{
    background-color: papayawhip;
    height: 14%;
    width: 100%;
    border:groove;
    margin-top: 7px;
  }






















































