@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

@font-face {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  src: url(./father.ttf);
}

html {
  font-size: 10px;
  font-family: "montserrat", sans-serif;
  /* background-color: black; */
}

body {
  margin: 0;
}

.container {
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
}
/* nav bar */
#nav-bar {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.nav-bar {
  background-color: black;
  top: 0;
  left: 0;
  padding: 1rem 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar .brand a {
  font-family: father;
  text-decoration: #fff;
  color: #fff;
}

.hd-logo {
  font-size: 33px;
  margin-left: 164px;
  margin-top: 2px;
}
.nav-bar .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar .nav-list .hamburger {
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  transition: 3s ease;
  cursor: pointer;
}
.nav-bar .nav-list .hamburger .bar {
  height: 2px;
  width: 30px;
  background-color: blanchedalmond;
  position: relative;
  display: flex;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
  transition: 0.3s ease all;
}
.nav-bar .nav-list .hamburger .bar::before {
  top: 8px;
}
.nav-bar .nav-list .hamburger .bar::after {
  bottom: 8px;
}

/* End nav bar */

/* hero section */
.hero {
  min-width: 80vh;
  width: 100%;
  padding-top: 50px;
  justify-content: center;
  /* background-color: black; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.hero .hero-info {
  width: 100%;
  text-align: center;
}

.hero .hero-info .hero-info-heading {
  font-size: 5rem;
  font-weight: 500;
  color: whitesmoke;
}
.hero .hero-info .hero-info-subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: aliceblue;
}
.hero .hero-info .hero-info-button {
  margin-top: 30px;
  padding: 2rem 5rem;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  letter-spacing: 0.6rem;
  background-color: gray;
}
.hero .hero-img {
  height: auto;
  width: 55%;
  margin-bottom: 3rem;
}
.hero .hero-img img {
  height: 100%;
  width: 100%;
}

/*  end hero section */

/*about section*/
.about {
  width: 93%;
  min-width: 80vh;
  padding: 10rem 5rem;
  flex-direction: row;
  text-align: center;
}

.about-info-decs {
  width: 464px;
  margin-bottom: 6px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.prg {
  margin-bottom: 6px;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: black;
}
.about .about-info-button {
  padding: 1.6rem 2.6rem;
  display: inline-block;
  background-color: rgb(2, 1, 54);
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 20px;
}

.about .about-img-wrapper {
  margin-top: 30px;
  height: auto;
  max-width: 4000px;
  /* position: relative; */
  display: inline-block;
  /* flex-direction: column; */
}
.about .about-img-wrapper img {
  height: 100%;
  width: 31%;
}

/* position: absolute; */

/*End about section*/

/* services section*/
.services {
  flex-direction: column;
  min-width: 60vh;
  padding: 10rem 5rem;
}
.service-header {
  width: 100%;
  text-align: center;
}
.service-heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}
.service-prg {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0 auto;
  width: 28%;
}
.prg-div {
  margin: 0 auto;
}
.img-second-div {
  display: flex;
  justify-content: center;
  /* position: relative; */
  width: 170px;
  height: 170px;
}
.img-div {
  height: 170px;
  width: 170px;
  margin-left: 10px;
  background-color: gray;
}
.img-main-div {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}
.font-div {
  position: absolute;
  top: 54px;
  left: 60px;
  text-align: center;
}
.under-img-div {
  background-color: pink;
  height: 170px;
  width: 170px;
  margin-left: 10px;
}
.under-div {
  height: 170px;
  width: 170px;
}
.img-wrapper {
  height: 170px;
  width: 160px;
  margin-left: 10px;
}
.font-img {
  left: 50px;
  font-size: 20px;
}
/* End services section*/

.img-second-div:hover {
  filter: grayscale(1.1);
  transition: all 0.5s ease-in;
  scale: 1.1px;
}

.under-img-div {
  scale: 1.1px;
  background-color: pink;
}

.border-container {
  background-color: rgb(197, 192, 192);
  height: 120px;
  width: 100%;
  border: groove;
}

.pecific-container {
  height: 100px;
  width: 100%;
  display: flex;
}
.prg-end-div {
  width: 50%;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 2rem;
  align-items: center;
  margin-left: 55%;
}

.prg-mildle-div {
  justify-content: center;
  margin-left: 100px;
  width: 62%;
  font-size: 20px;
}

.button-div {
  width: 7%;
  height: 20%;
  margin-left: 47%;
  margin-top: 25px;
}
.button-prtn {
  background-color: grey;
  text-decoration: burlywood;
  color: white;
  height: 41px;
  width: 103px;
}
.last-container {
  background-color: black;
  height: 234px;
  display: flex;
  width: 100%;
}

.hd-div {
  text-align: center;
  margin-top: 20px;
  margin-left: 41%;
  font-size: 28px;
  text-decoration: cornsilk;
  color: cornsilk;
}
.email-div {
  margin-top: 53px;
  margin-left: -16%;
  font-size: 19px;
  width: 36%;
  text-decoration: cornsilk;
  color: cornsilk;
}
.number-div {
  margin-top: 80px;
  margin-left: -34%;
  font-size: 17px;
  width: 36%;
  text-decoration: cornsilk;
  color: cornsilk;
}
.fnt-div {
  height: 8%;
  margin-top: 163px;
  margin-left: -33%;
  font-size: 17px;
  width: 2%;
  text-decoration: cornsilk;
  color: cornsilk;
}
.follow-div {
  margin-top: 135px;
  margin-left: -35%;
  font-size: 15px;
  width: 36%;
  text-decoration: cornsilk;
  color: cornsilk;
}
.icon-div {
  /* background-color: rebeccapurple; */
  text-align: center;
  margin-top: 59px;
  margin-left: -7%;
  font-size: 28px;
  height: 8%;
  flex-direction: column;
  justify-content: space-between;
}
.icons-prnt {
  /* background-color: cadetblue; */
  height: 54%;
  margin-top: 146px;
  margin-left: 13px;
  /* font-size: 69px; */
  width: 10%;
  /* background-color: cadetblue; */
  flex-direction: column;
  /* justify-content: space-between; */
}
.ul-list {
  flex-direction: row;
  display: flex;
  width: 447px;
  justify-content: space-around;
  margin-left: 627px;
  font-size: 17px;
}
.li-lists a {
  text-decoration: none;
  color: antiquewhite;
  /* list-style-type: none; */
}
